@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  padding: 10%;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: orange;
}

a:visited {
  color: darkgoldenrod;
}

a:hover {
  color: darkgrey;
}

a:active {
  color: darkred;
}
